How to Create Variables

In [51]:
name='Sarah'
age= 25
city= 'New York'

print(name)
print(age)

TypeError: 'int' object is not callable

# Understanding data type

In [55]:
First_name = "Zezo"
Second_name = "Lemba"
Address = "253 main stree"
phone_number = "+254 76849"
Message = "helo there"
empty_strng = ""

Age_as_text = "25"
Age_as_number = 25
print(Message)

helo there

In [10]:
print(first_name, second-name, phone_number)

Zezo Lemba +254 76849

# Intergers

In [57]:
age= 19
year= 2024
temperature= 35
score= 100
negative_number= -15
zero= 0

total_students= 25
new_students= 5
class_size= total_students + new_students
print(class_size)

30

# Floats

In [59]:
height= 5.8
weight=145.5
temperature= 98.6
price= 19.99
percentage= 87.5
pi= 3.4645

item_price= 12.75
tax_rate= 0.88
total_cost= item_price + (item_price * tax_rate)
print(total_cost)

23.97

# checking what type of data you have

In [62]:
name= "Alice"
age= 25
height=5.8
is_student= True

print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

print("hello world")
print("welcome to python")

name="Alice"
print(name)

age= 25
print("my name is", name, "and I am", age,"years old")

name=input("whats your name? ")
print("Nice to meet you", name)

age_text= input("How old are you? ")
print("You typed:", age_text)
print("Type of what you typed:", type(age_text))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
hello world
welcome to python
Alice
my name is Alice and I am 25 years old

whats your name?  zezo

Nice to meet you zezo

How old are you?  19

You typed: 19
Type of what you typed: <class 'str'>